{% extends 'base.html' %}

{% block content %}
<h3 class="text-center mt-5 mb-5">Ваша корзина {% if not cart.cartproduct_set.count %}порожня{% endif %}</h3>
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
{% endif %}
{% if cart.cartproduct_set.count %}
<div class="container">
<div class="col-lg-9">
<table class="table">
  <thead>
    <tr>
      <th scope="col"><p style="width: 200px">Товар</p></th>
      <th scope="col"><p style="width: 130px">Ціна</p></th>
      <th scope="col"><p style="width: 100px">Кількість</p></th>
      <th scope="col"><p style="width: 140px">Загальна ціна</p></th>
      <th scope="col"><p style="width: 140px"></p></th>
    </tr>
  </thead>
  <tbody>
  {% for item in cart.cartproduct_set.all %}
    <tr>
      <td class="w-25">
        <a href="{{ item.product.get_absolute_url }}">
        <img src="{{ item.product.image.url }}" class="img-fluid">
        <h5 class="mt-2"> {{ item.product.title }}</h5>
      </a>
      </td>
      <td>{{ item.product.price }} грн</td>
      <td>
      <form action="{% url 'change_cartproduct_count' id=item.id %}" method="POST">
              {% csrf_token %}
              <input type="number" class="form-control" name="count" style="width: 70px;" min="1" value="{{ item.count }}">
              <br>
              <input type="submit" class="btn btn-primary" value="Змінити кількість">
            </form>

      </td>
      <td>{{ item.get_price }} грн</td>
      <td> 
      <a href="{% url 'delete_from_cart' id=item.id %}"><button class="btn btn-danger">Видалити</button></a>
      </td>
    </tr>
  {% endfor %}
    <tr>
      <td></td>
      <td>Всього:</td>
      <td>{{  cart.cartproduct_set.all.count }}</td>
      <td><strong>{{ cart.get_full_price }} грн</strong></td>
      <td><a href=""><button class="btn btn-primary">Перейти до оформлення</button></a></td>
    </tr>
  </tbody>
</table>
</div>
</div>
{% endif %}
{% endblock content %}