        <form action="{% url 'change_qty' ct_model=item.content_object.get_model_name slug=item.content_object.slug %}" method="POST">
          {% csrf_token %}
          <input type="number" value="{{ item.qty }}" min="1" class="form-control" style="width: 100%" name="qty">
          <br>
          <input type="submit" class="btn btn-primary" value="Изменить кол-во">
        </form>

<a href="{% url 'remove_from_cart' ct_model=item.content_object.get_model_name slug=item.content_object.slug %}"><button class="btn btn-danger">Удалить из корзины</button></a><