
  <footer class="py-5 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-auto">
          <h3 class="my-4 text-white">Где нас найти:</h3>
          <p class="m-0 text-white">Адрес: г. Херсон, ул. Белинского, 16</p>
          <br>
          <h3 class="my-4 text-white">График работы:</h3>
          <p class="m-0 text-white">Вт- Вс: 10:00 - 18:00</p>
        </div>
        <div class="col-lg-auto">
          <h3 class="my-4 text-white">Наши контакты:</h3>
          <div class="nav flex-column">
            <div class="nav-item">
              <a class="nav-link text-white" href="https://t.me/app_storeksua">
                <img src="/static/telegram.png" height="40px" width="40px" class="mr-4">
                Telegram   @App_Storeksua
              </a>
            </div>
            <div class="nav-item">
              <a class="nav-link text-white" href="https://instagram.com/app_store.ks.ua?igshid=1u1z26qlbzo4d">
                <img src="/static/instagram.png" height="40px" width="40px" class="mr-4">
                Instagram   @app_store.ks.ua
              </a>
            </div>
            <div class="nav-item">
              <p class="nav-link text-white">
                <img src="/static/viber.png" height="40px" width="40px" class="mr-4">
                Viber   +380981212122
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Evgenii Alexiuk 2020</p>
    </div>
    <!-- /.container -->
  </footer>